@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main-container{
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dice{
    height: 100px;
    width: 100px;
    background-color: orangered;
    border-radius: 12px;
    margin:20px 0 65px 0;
    font-size: 50px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: black;
    color: white;
    padding: 10px 38px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.animation{
    animation: rotate 1s linear 1 forwards;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
